@font-face {
  font-family: "Plus Jakarta Sans";
  src: url(../assets/fonts/PlusJakartaSans.woff) format("woff"),
    url(../assets/fonts/PlusJakartaSans.woff2) format("woff2");
  font-style: normal;
  font-display: swap;
  font-weight: 100 900;
}
html {
  font-size: 10px;
}
*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-size: 1.6rem;
  margin: 0;
}

h1,
p {
  margin: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
:root {
  --red: hsl(1, 90%, 64%);
  --blue: hsl(219, 85%, 26%);
  --white: hsl(0, 0%, 100%);
  --very-light-grayish-blue: hsl(210, 60%, 98%);
  --light-grayish-blue-1: hsl(211, 68%, 94%);
  --light-grayish-blue-2: hsl(205, 33%, 90%);
  --grayish-blue: hsl(219, 14%, 63%);
  --dark-grayish-blue: hsl(219, 12%, 42%);
  --very-dark-blue: hsl(224, 21%, 14%);
  --font-family: "Plus Jakarta Sans";
}

.text-grayish-blue {
  color: var(--grayish-blue);
}
.text-dark-grayish-blue {
  color: var(--dark-grayish-blue);
}
.font-medium {
  font-weight: 500;
}
.font-extrabold {
  font-weight: 900;
}
.mb-1 {
  margin-bottom: 1rem;
}
.pt-04 {
  padding-top: 0.4rem;
}

.main {
  height: 100vh;
  background-color: var(--white);
  padding: 1.5em;
  font-family: var(--font-family), sans-serif;
}
@media screen and (min-width: 576px) {
  .main__inner {
    width: min(100%, 53rem);
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 992px) {
  .main {
    display: flex;
    align-items: center;
    padding: 0;
  }
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2em;
}
.header__title {
  font-size: 2.2rem;
  font-weight: 700;
  color: var(--very-dark-blue);
  margin-right: 0.3em;
}
.header__counter {
  width: 30px;
  height: 23px;
  background-color: var(--blue);
  font-size: 1.6rem;
  font-weight: 600;
  color: var(--white);
  border-radius: 0.2em;
  display: flex;
  align-items: center;
  justify-content: center;
}
.button {
  border: none;
  outline: none;
  background-color: transparent;
}

.notification {
  padding: 0.8em;
  display: flex;
  margin-bottom: 0.8em;
}
.notification--unread {
  background-color: var(--light-grayish-blue-1);
  border-radius: 0.5em;
}
.notification--read {
  background-color: var(--white);
  border-radius: none;
}
.notification__image {
  display: inline-block;
  margin: 0;
  margin-right: 1em;
}
.notification__content {
  font-size: 1.2rem;
  padding-right: 2em;
}
.notification__title {
  display: inline-block;
  font-size: inherit;
  margin: 0 0.3em 0 0;
}
.notification__message {
  padding: 1em;
  border: 2px solid var(--very-light-grayish-blue);
  color: var(--dark-grayish-blue);
}
.notification__circle {
  margin-left: 0.4em;
  display: inline-block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: var(--red);
}

@media screen and (min-width: 576px) {
  .notification {
    position: relative;
  }
  .notification__image--chess {
    position: absolute;
    right: 0;
    top: 1em;
  }
  .notification__content {
    padding-right: 0;
  }
  .notification__message {
    padding-right: 3em;
  }
}

.header div {
  display: flex;
  align-items: center;
}

.footer {
  font-size: 11px;
  text-align: center;
  margin-top: auto;
}
.attribution {
  color: hsl(228, 45%, 44%);
}

@media (hover: hover) {
  article h2:hover {
    color: var(--blue);
    cursor: pointer;
  }
  .notification__image--chess:hover {
    cursor: pointer;
    transform: scale(1.1);
  }
  .notification__message:hover {
    cursor: pointer;
    background-color: var(--light-grayish-blue-2);
    font-weight: 500;
  }
  a[class$="font-extrabold"]:hover {
    color: var(--blue);
    cursor: pointer;
  }
  button:hover {
    color: var(--blue);
    cursor: pointer;
  }
}
